<%- include ('header') -%>

<center>
<h1>About</h1>
<br>
<div class="container">
<p class="text">
<b>Drinks</b> is an experiment to connect people in new ways.
</p><p class="text">
Combining elements of: Twitter, Discord, Zoom, Messenger, Slack, YouTube, Meetup, Maps, video games, calendar, <a href="https://www.tindie.com/products/teleport/teleport-telepresence-and-music-player-robot/">robot teleoperation</a>, radio, a local cafe or bar, a dinner party, or visiting a friend, Drinks allows you to meet new people, and talk to people.
</p><p class="text">
We're working to see what works.
</p><p class="text">
If you're a developer, drop us a note at hatsmagee@gmail.com.
</p>
</div>
</center>

<%- include ('footer') -%>
