

<!-- Javascript -->
<script src="/javascripts/jquery-3.6.1.min.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/webrtc.js"></script>
<script src="/javascripts/webrtc_adaptor.js"></script>
<script src="/javascripts/moment.min.js"></script>
<script src="/javascripts/calendar.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/room.js"></script>
</body>

</html>
