<%- include ('header') -%>

<!-- Sign up -->
<div class="login">
	<h1>Reset password</h1>

	<% if (hasMessages) { %>
	<section class="messages">
		<% messages.forEach(function(message) { %>
		<p><%= message %></p>
		<% }); %>
	</section>
	<% } %>

        <form action="/password" method="post">
		<label for="username">Email</label>
		<input id="username" name="username" type="text" autocomplete="username" required>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<input type="submit" value="Reset password">
	</form>
	<br>
</div>
  

<%- include ('footer') -%>
